@charset "UTF-8";
/* CSS Document */

*{
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans JP', sans-serif;
	font-family: 'Raleway', sans-serif;
}


.back {
    display:block;
	position: fixed;
	margin-top: 30px;
}

.back-hover {
    display:none;
	position: fixed;
	margin-top: 30px;
}


.back-hover p{
	position: absolute;
	top:12px;
	left:60px;
	color: white;
	font-size: 15px;
}

.back img,
.back-hover img{
	width: 100px;
}

.back img{
	background-color: rgba(255,255,255,0.50);
	width:100px;
	padding:15px 20px;
}

.back-hover img{
	background-color: rgba(0,0,0,0.50);
	width:100px;
	padding:15px 20px;
}

.back-box:hover > .back {
    display:none;
}

.back-box:hover > .back-hover {
    display:block;
}


.title{
	padding-top: 60px;
	text-align: center;	
}

.title h1{
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 30px;
}

.title p{
	margin:10px;
	color: gray;}

.top{
	display: block;
	max-width:900px;
	width:90%;
	margin:0 auto;
	margin-bottom: 50px;
}

.top img{
	margin:50px;
	width:60%;
	text-align: center;
}

.top-pic{
	text-align: center;
}


.about-1{
	margin:0% 10%;
	width: 80vw;
	max-width: 700px;
}

.about-small {
	margin-bottom: 25px;
}

.about-small h3{
	font-weight:normal;
	margin-bottom:12px;
	display: inline-block;
	padding-top: 2px;
	border-radius:5px;
	width:100px;
	text-align: center;
	vertical-align: middle;
	color: white;
}

.about-small p{
	margin-left: 20px;
}

.about-title{
	background-color: gray;
}

.content{
	text-align: center;
	margin-top: 70px;
	max-width: 900px;
	margin:0 auto;
}

.content img{
	width: 95%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

}

h2{
	margin-top:150px;
	margin-bottom: 100px;
	font-weight: bold;
	font-size:16px;
}

.content h3{
	font-size: 20px;
	margin: 15px;
}

.content p{
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
	max-width: 700px;
	width:70%;
}
.content2{
	text-align: center;

}
.content2 img{
	width:60%;
	max-width: 400px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.explanation p{
	text-align: left;
	margin-top: 40px;
}


footer{
	text-align: center;
	margin: 20px;
}

footer p{
	color: gray;
	font-size: 12px;
}

.mio-freebie p{
	margin-bottom: 100px;
}

@media screen and (max-width:700px) {
	.top{
		width: 100%;
	}
	
	.top img{
		text-align: center;
		width: 70vw;
		}
	
	.content img{
		width:100%;
		height: auto;
	}
	
	.content h2{
		margin-top:120px;
		margin-bottom: 60px;
	}
}
	
	@media screen and (min-width:700px) {
	.about-1{
		max-width: 700px;
		display: table;
 		margin: 0 auto;
	}
}
